<div class="navbar">

    <div class="dropdown">
      <button class="dropbtn">SALUS
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="underlineHover" href="#">Database Select</a>
        <a class="underlineHover" href="#">Messages</a>
        <a class="underlineHover"href="#">Reports</a>
      </div>
    </div>
    <nav>
      <ul>
          <li><a routerLink ="/login">Log Out </a></li>
      </ul>
    </nav>
  </div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<!--
<div class="content">
    <h1>Welcome : {{user_profile["name"]}} {{user_profile["surname"]}}</h1>
    <p>Keep Safe with SALUS</p>
    <br>
    <img src={{location}} alt={{location}}>
</div>   
-->
<div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 style ="color:#ff0000;">Breach Alarm</h1>
      <h2 class="active">Make a breach Alarm</h2>
      <br>
      <input type="submit"  class="fadeIn fourth" value="Breach" routerLink="/breach">
    </div>
  </div>
<div class="wrapper fadeInDown">
<div id="formContent">

<br>
<h2>To enter school grounds, get QR code by clicking generate token</h2>

<input type = "submit"  value = "Generate token" placeholder = "Generate">


<br> 
<br>

<div id="formFooter">
<a class="underlineHover" routerLink=""> cancel </a>
<br>

</div>
</div>

</div>

</body>

