<div class="navbar">

    <div class="dropdown">
      <button class="dropbtn">SALUS
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="underlineHover" (click)="toolbarControlEdit()">Edit details</a>
        <a class="underlineHover"href="#">Reports</a>
      </div>
    </div>
    <nav>
      <ul>
          <li><a routerLink ="/login">Log Out </a></li>
      </ul>
    </nav>
  </div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="content">
    <h1>Welcome : {{user_profile["name"]}} {{user_profile["surname"]}}</h1>
    <p>Keep Safe with SALUS</p>
    <br>
  </div>
  
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="wrapper fadeInDown" *ngIf ="toolbar_show == 'edit'">
        <div id="formContent">
          
        <h1>Edit Your Credentials</h1>
        <h2>Click her to edit your personal details </h2>
        <img src="assets/images/saluswithname.jpg" alt = "Salus logo" >
        <br>
        <a  routerLink="/studentedit">Edit details</a>
        </div>
      </div>


      <div class="wrapper fadeInDown">
        <div id="formContent">
          <h1 style ="color:#ff0000;">Breach Alarm</h1>
          <h2 class="active">Make a breach Alarm</h2>
          <br>
          <input type="submit"  class="fadeIn fourth" value="Breach" routerLink="/breach">
    
          <div *ngIf= "message_alert">
            <h2>Breach Alarm</h2>
            <br>
            <h2>Breach Type :{{breach_type}}</h2>
            <div class="alert"> 
              <strong>Danger!</strong>There has been a breah on campus please stay indoors and await further instructions.
            </div>
          </div>
    
          <div class="wrapper fadeInDown" *ngIf= "message_alert">
            <div id="formContent">
              <h1>MORE INFORMATION</h1>
              <h2 class="active">Status:{{breach_status}}</h2>
              <h2 class="active">Breach Number :{{breach_number}}</h2>
              <h2 class="active">Breach Type :{{breach_type}}</h2>
              <h2 class="active">Quadrent:{{quadrent}}</h2>
            <div id="formFooterBreach" >
              <a type="submit" class="underlineHover" (click)= "deleteBreach()">DELETE BREACH</a>
            </div>
    
            </div>
          
          </div>
        </div>
      </div>
        <div  class="wrapper fadeInDown">
            <div id="formContent">
            <h2 class="active" routerLink="/contact">HELP</h2>
            <h2>Please ask for personel QR code from personel to scan to enter school grounds if personel is unidetified,QR code will be sent via email</h2>
            <h2>To generate enter on grounds QR code click generate</h2>
                <input type = "submit" value="Generate" (click)="GenrateQR()">
            
           </div>
        </div>
          

        <div class="wrapper fadeInDown">
          <div id="formContent">
          
          <br>
          <h2>To enter school grounds, get QR personal code by clicking generate token </h2>
          <p>Click if ask by security ,teaching anf high level personel only</p>
          <br>
          <p class="alert">DO NOT SHARE OR GIVE ACCESS TO YOUR PERSONAL QR CODE</p>
          <input type = "submit"  value = "generate token" placeholder = "Send"(click)="GenerateVQR()">
          <div class="wrapper fadeInDown" *ngIf="show">
            <div id="formContent">
              <h2>Press resnd of you didnt rescieve email</h2>
              <p>if you fail to recieve you email three time please click help</p>
              <h2>{{timeLeft}} Seconds Left....</h2>
              <br>
              <div id="formFooter">
                <a class="inactive underlineHover" (click)="GenerateVQR()">Resend</a>
              </div>
              <div id="formFooter">
                <a class="inactive underlineHover" routerLink ="/contact">Help</a>
              </div>
              <div id="formFooter">
                <a class="inactive underlineHover" (click)="Cancel()">Go Back</a>
              </div>
            </div>
          </div>
          
          </div>
          </div>

    </div>
  </div>
  
    <footer>
        <p>All rights reserved. @SALUS 2021</p>
    </footer>
</body>
</html>
