
<div  id="formContent">
  <header id =header class="header" >
    <div class='container' >
      <nav>
        <ul>
            <li><a class="inactive underlineHover" routerLink = "">Home</a></li>
            <li><a class="inactive underlineHover"routerLink ="/login">Login</a></li>
            <li><a class="inactive underlineHover" routerLink= "/contact">Contact Us</a></li>
            <li><a class="inactive underlineHover" routerLink = "/signup">Sign up</a></li>
        </ul>
      </nav>
    </div> 
  </header>
  
</div>
