<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Login</h2>
      <h2 class="inactive underlineHover" routerLink ="/signup">Sign Up </h2>
  
      <!-- Login Form -->      
      <form [formGroup]="loginForm" (ngSubmit)="setValues(loginForm.value)">
        <input type="text" id="login" formControlName="User_number" class="fadeIn second" name="login" placeholder="User Number">
        <div class="alert" *ngIf="!loginForm.controls['User_number'].valid && loginForm.controls['User_number'].touched">
          <span>{{titleAlert1}} </span>
        </div>
        <input type="password" id="password" formControlName="Password" class="fadeIn third" name="login" placeholder="Password">
        <div class="alert" *ngIf="!loginForm.controls['Password'].valid && loginForm.controls['Password'].touched">
          <span>{{titleAlert1}} </span>
         
        </div>
        <div *ngIf= "error_message != '' ">
          <span class="alert">{{error_message}} </span>
        </div>
        <input [disabled]="!loginForm.valid" type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/forgotpassword">Forgot Password?</a>
      </div>
  
    </div>
  </div>

  
<footer>
  <p>All rights reserved. @SALUS 2021</p>
</footer>
</body>
</html>



