<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="wrapper fadeInDown">
        <div id="formContent">
            <h1> From The Salus Team</h1> 


            <img src="assets/images/saluswithname.jpg" alt = "Salus logo" width = "500" height = "500" align = "left">
            
            
            <h2> Please use this form to contact us and we will get back to you as soon as possible </h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates distinctio sunt rerum inventore perspiciatis, facere consequuntur vero blanditiis, beatae reprehenderit. Repellat laborum hic velit officia ratione animi iste illum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo quibusdam perspiciatis quod nulla, delectus amet error quae iure voluptatum officia sed placeat qui eos earum sunt porro quam recusandae architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, officia hic. Ipsam fugit odio doloremque error ea architecto incidunt iusto voluptatibus, pariatur perferendis id illo ipsa! Aliquid, mollitia expedita? Minima!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sapiente dolorem culpa! Omnis magni est eum molestiae odit libero nemo eius architecto laborum? Adipisci quibusdam vel, eum fuga eius cupiditate?
            </p>
            <p>Contact Number:03154646444</p>
            <p>Fax :161454548449494464411</p>
        </div>
    </div>
 
</body>
</html>
