<app-toolbar></app-toolbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          
            <h1>Student Database Select</h1>
        <table>
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody  *ngFor= "let user of userarray">
                <tr>
                  <th scope="row">{{num + 1}}</th>
                  <td>{{user.name}}</td>
                  <td>{{user.surname}}</td>
                  <td>{{user.email}}</td>
                  <input type="submit" class="fadeIn fourth" value="Edit">
                  <input type="submit" class="fadeIn fourth" value="Delete">
                  <input type="submit" class="fadeIn fourth" value="Details">
                </tr>
              </tbody>
        </table>
        </div>
    </div> 
    <div  class="wrapper fadeInDown">
      <h1>GENERATE CLASS REGISTER QR</h1>
      <div id="formContent">
      <h2 class="active" routerLink="/contact">HELP</h2>
      <br>
      <h2>QR code will be sent via email</h2>
      <h2>Please allow students to scan the qr code to mark themseleves present</h2>
      <h2>To generate enter on grounds QR code click generate</h2>
          <input type = "submit" placeholder = "Generate" (click)="GenerateQR()">
      <div id="formFooter">
          <a class="underlineHover" routerLink="">CANCEL</a>
      </div>
     </div>
  </div> 
</body>
</html>
