<div class="navbar">

  <div class="dropdown">
    <button class="dropbtn">SALUS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="underlineHover" href="#">Database Select</a>
      <a class="underlineHover" href="#">Messages</a>
      <a class="underlineHover"href="#">Reports</a>
    </div>
  </div>
  <nav>
    <ul>
        <li><a routerLink ="/login">Log Out </a></li>
    </ul>
  </nav>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<div class="content">
    <h1>Welcome : {{user_profile["name"]}} {{user_profile["surname"]}}</h1>
    <p>Keep Safe with SALUS</p>
    <br>
</div>   

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 style ="color:#ff0000;">Breach Alarm</h1>
      <h2 class="active">Make a breach Alarm</h2>
      <br>
      <input type="submit"  class="fadeIn fourth" value="Breach" routerLink="/breach">
    </div>
  </div>
  <div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>Student Database Select</h1>   
    <table>
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Handle</th>
              <th scope="col">User Number</th>
              <th scope="col">Functions</th>
            </tr>
          </thead>
          <tbody  *ngFor= "let user of userarray">
            <tr>
              <th scope="row">{{user.name}},{{user.surname}}</th>
              <td>{{user.email}}</td>
              <td>{{user.admin_number}}</td>
              <td>
                <button type="submit"  class="fadeIn fourth" (click)="deletUser(user.name,user.surname)">Delete</button>
                <button type="submit" class="fadeIn fourth"> Edit </button>
                <button type="submit" class="fadeIn fourth">Details</button>
              </td> 
              <br>
              <br>
            </tr>
          </tbody>
    </table>
    </div>
</div> 
    <div  class="wrapper fadeInDown">
      <h1>GENERATE CLASS REGISTER QR</h1>
      <div id="formContent">
      <h2 class="active" routerLink="/contact">HELP</h2>
      <br>
      <h2>QR code will be sent via email</h2>
      <h2>Please allow students to scan the qr code to mark themseleves present</h2>
      <h2>To generate enter on grounds QR code click generate</h2>
          <input type = "submit" placeholder = "Generate" (click)="GenerateQR()">
      <div id="formFooter">
          <a class="underlineHover" routerLink="">CANCEL</a>
      </div>
     </div>
  </div> 
  <div *ngIf ="wait" class="preload">
    <div class="logo">
        <span style="color: #050708;">SALUS</span>   
    </div>
    <div  class="loader-frame">
        <div class="loader1" id="loader1"></div>
        <div class="loader2" id="loader2"></div>
</div>
  </div>
<footer>
  <p>All rights reserved. @SALUS 2021</p>
</footer>
</body>
</html>
