<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Forgot Passoword</h1>
            <img src="assets/images/saluslogo.jpg">
            <h2>Please enter in the email assoicated with the account</h2>
            <p>We will send a code which will verify your ownership</p>
            <div>
                <form [formGroup]="codeForm" (ngSubmit)="CheckCode(vericode.value)">
                    <p>Please enter in the verification code in the email sent to you</p>
                    <div>
                        <input type = "text" placeholder = "Verification Code" #vericode>
                    </div>
                    <input [disabled]="codeForm.invalid" type="submit" class="fadeIn fourth" value="Verify">
                </form>
                <h3>Wait you didnt recieve the email </h3>
                <p>Please click the help but adn contact the Salus Team</p>
                <div id="formFooter">
                    <a  class="underlineHover"  routerLink= "/contact">Help</a>
                </div>
            </div>
        </div>

        <div *ngIf ="wait" class="preload">
            <div class="logo">
                <span style="color: #050708;">SALUS</span>   
            </div>
            <div  class="loader-frame">
                <div class="loader1" id="loader1"></div>
                <div class="loader2" id="loader2"></div>
        </div>
          </div>

    </div>
    <footer>
        <p>All rights reserved. @SALUS 2022</p>
    </footer>
</body>
</html>
