<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Forgot Passoword</h1>
            <img src="assets/images/saluslogo.jpg">
            <h2>Please enter in the email assoicated with the account</h2>
            <p>we will send a code which will verify your ownership</p>
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="SetValue(email.value)">
                <div>
                    <input type = "email" placeholder = "Email" #email>
                </div>
                <input [disabled]="forgotpasswordForm.invalid" type="submit" class="fadeIn fourth" value="Send Email">
            </form>
            <br>
        </div>
    </div>
    
</body>
</html>
