<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Sign up</h1>
            <p>Please select the type of user you are</p>
            <div id="formFooter">
                <a routerLink="/studentsignup" class="underlineHover">Student</a>
            </div>
            <div id="formFooter" >
                <a routerLink="/staffsignup" class="underlineHover">Teacher</a>
            </div >
            <div id="formFooter">
                <a routerLink="/securitysignup" class="underlineHover">Security</a>
            </div>
            <div id="formFooter">
                <a routerLink="/domesticsignup" class="underlineHover">Domestic</a>
            </div>
            <div id="formFooter">
                <a routerLink="/visitorsignup" class="underlineHover">Visitor</a>
            </div>

        </div>
    </div>
    
    <footer>
        <p>All rights reserved. @SALUS 2021</p>
    </footer>
</body>
</html>
