<div class="navbar">

  <div class="dropdown">
    <button class="dropbtn">SALUS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="underlineHover" (click)="toolbarControlHome()">Home</a>
      <a class="underlineHover" (click)="toolbarControlEdit()">Edit Users</a>
      <a class="underlineHover" (click)="toolbarControlMessages()">Messages</a>
      <a class="underlineHover"(click)="toolbarControlHome()">Generate Token</a>
      <a class="underlineHover" (click)="toolbarControlReport()">Reports</a>
      <a class="underlineHover" (click)="toolbarControlPurge()">Purge Functions</a>

    </div>
  </div>
  <nav>
    <ul>
        <li><a routerLink ="/login">Log Out </a></li>
    </ul>
  </nav>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="content">
    <h1>Welcome : {{user_profile["name"]}} {{user_profile["surname"]}}</h1>
    <p>Keep Safe with SALUS</p>
    <br>
  </div>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="wrapper fadeInDown"*ngIf="toolbar_default">
        <div id="formContent">
          <div *ngIf= "show_make_breach">
            <h1 style ="color:#ff0000;">Breach Alarm</h1>
            <h2 class="active">Make a breach Alarm</h2>
            <br>
            <input type="submit"  class="fadeIn fourth" value="Breach" routerLink="/breach">
          </div>
        </div>
      </div>
          
          <div *ngIf= "message_alert">
            <h1>Breach Alarm</h1>
            <br>
            <h2>Breach Type :{{breach_type}}</h2>
            <div class="alert"> 
              <strong>Danger!</strong>There has been a breah on campus please stay indoors and await further instructions.
            </div>
          </div>
    
          <div class="wrapper fadeInDown" *ngIf= "message_alert">
            <div id="formContent">
              <h1>MORE INFORMATION</h1>
              <h2 class="active">Status:{{breach_status}}</h2>
              <h2 class="active">Breach Number :{{breach_number}}</h2>
              <h2 class="active">Breach Type :{{breach_type}}</h2>
              <h2 class="active">Quadrent:{{quadrent}}</h2>
            <div id="formFooterRed" >
              <a type="submit" class="underlineHover" (click)="deleteBreach()">DELETE BREACH</a>
            </div>
    
            </div>
          
          </div>


          <div class="wrapper fadeInDown" *ngIf="toolbar_show">
            <div id="formContent">
              <ul>
                <h1 class="active" >Database Select</h1>
                <p>Please select type of user </p>
                <a 
                  *ngFor="let item of list1" 
                  [class.item-selected]="item.selected"
                  (click)="toggleSelection(item, 1)" id="formFooter">{{item.text}}</a>
              </ul>
            <form [formGroup]="databaseForm" (ngSubmit)="setValues()">
               <h2 class="active">
                 {{databaseselected}}
               </h2>
               <br>
                <input type="submit" class="fadeIn fourth" value="Search">
            </form>
            <table>
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Handle</th>
                      <th scope="col">User Number</th>
                      <th scope="col">Functions</th>
                    </tr>
                  </thead>
                  <tbody  *ngFor= "let user of userarray">
                    <tr>
                      <th scope="row">{{user.name}},{{user.surname}}</th>
                      <td>{{user.email}}</td>
                      <td>{{user.staff_number}} {{user.student_number}} {{user.admin_number}} {{user.visitor_number}}</td>
                      <td>
                        <button type="submit"  class="fadeIn fourth" (click)="deletUser(user.name,user.surname)">Delete</button>
                        <button type="submit" class="fadeIn fourth" (click)="EditUser(user)"> Edit </button>

                      </td> 
                      <br>
                      <br>
                    </tr>
                  </tbody>
            </table>
            </div>
        </div> 

        <div class="wrapper fadeInDown" *ngIf="toolbar_report">
          <div id="formContent">
            <h1>Number of users under Salus protection</h1>
            <br>
            <h2 class="active">Number of Visitors :{{report_data.number_of_visitor}}</h2>
            <br>
            <h2 class="active">Number of Admins :{{report_data.number_of_admin}}</h2>
            <br>
            <h2 class="active">Number of Students :{{report_data.number_of_student}}</h2>
            <br>
            <h2 class="active">Number of Security :{{report_data.number_of_security}}</h2>
            <br>
            <h2 class="active">Number of Domestic :{{report_data.number_of_domestic}}</h2>
            <br>
            <h2 class="active">Number of Teachers :{{report_data.number_of_teacher}}</h2>
            <br>
            <h1>Over All Stats  on General Use of Salus </h1>
            <br>
            <h2 class="active">Number of on ground tokens made :{{report_data.ongrounds}}</h2>
            <br>
            <h2 class="active">Number of class register tokens made :{{report_data.registerclass}}</h2>
            <br>
            <h2 class="active">Number of breaches made :{{report_data.breaches}}</h2>


          </div>
        </div>

        <div class="wrapper fadeInDown" *ngIf="toolbar_endday">
          <div id="formContent">
            <h1>End of Day</h1>
            <p>To clear daily clusters click below</p>
            <button (click)="Emptylogs()">Empty Day Logs</button>
            <p>To clear Personal QR code and recordsclick below</p>
            <div class="alert"> 
              <strong>Danger!</strong>You are about to empty crucial records
              <br>
              <button (click)="Deletelocal_logs()">Purge</button>
            </div>
            
          </div>
        </div>

        <div class="wrapper fadeInDown" *ngIf="toolbar_default">
          <div id="formContent">
              <div class="form-container">
                <h1 class="active">GENERATE ENTERANCE TOKEN</h1>
                <p>This token allows you to enter school grounds</p>
                <p>You can produce a on grounds QR and register class token</p>
                <p>You can retrive User Number by using the above Database Select section </p>
                </div>
                <div class = "formFooter">
                  <h2 class="active">CURRENT ADMIN: {{user_profile.name}}  {{user_profile.surname}}</h2>
                  <br>
                  <h2 class="active">USER NUMBER: {{user_profile.admin_number}}</h2>
                  <br>
                  <h2 class="active">TIME OF CREATION :{{datetime | date: 'yyyy-MM-dd'}}</h2> 
                  <br>
                  <h2>Ongrounds QR code generated</h2>
                  <br>
                  <input type = "submit" value = "Generate" >
                </div>
                <div class = "formFooter2">

                  <h2>Register Check QR code generated</h2> 
                  <br>
                  <input type = "submit" value = "Generate" >
                </div>
            </div>
          </div> 

        <div class="wrapper fadeInDown" *ngIf ="toolbar_show">
          <div id="formContent">
            
              <h1>Admin Functions</h1>
              <p>Please Use Wisely</p>
              <h2>Click below to add another admin</h2>
              <br>
              <input type = "submit" value = "Make Admin" routerLink ="/adminsu">
              <br>
          </div>
        </div>
    
        <div class="wrapper fadeInDown" *ngIf="toolbar_message">
          <div id="formContent">
              <div class="messagecontent"*ngIf="show_message" >
                <h1>Messages</h1>
                <div class="wrapper fadeInDown">
                  <div id="formContent">
                      <div class="names" id="presentData" *ngFor="let items of messages" >
                        <div class="alert info"> 
                          <strong>FROM:  </strong>{{items.name}}
                          <br>
                          <strong>{{items.message_number}}: </strong>{{items.message}}
                          <br>  
                        </div>
                        <div class= "buttons">
                          <button type="submit" class="fadeIn fourth" (click)="deleteMessage(items.message_number)" >Delete</button>
                          <button type="submit" class="fadeIn fourth"(click)="ReplyShow(items.name,items.message_number,items.message)">Reply</button>      
                    </div>
                  </div>
                </div>  
                </div>
              </div> 
              <section id="app" *ngIf="show_reply_section">
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <div class="alert info"> 
                        <strong>FROM:</strong>{{current_message_name}}
                        <br>
                        <strong>{{current_message_number}}: </strong>{{current_message_message}}
                        <br>  
                      </div>
                      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" #response ></textarea>
                      <button v-on:click="addItem()" class='primaryContained float-right' type="submit"(click)="replyMessage(current_message_number,response.value)">Submit</button>
                      <button  class='primaryContained float-right' (click)="ReplyHide()">Cancel</button>
                    </div><!-- End col -->
                  </div><!--End Row -->
                </div><!--End Container -->
              </section><!-- end App -->   
  
    </div>
  </div>

        </div>
      </div>


        
   
   
      
  <div *ngIf ="wait" class="preload">
    <div class="logo">
        <span style="color: #050708;">SALUS</span>   
    </div>
    <div  class="loader-frame">
        <div class="loader1" id="loader1"></div>
        <div class="loader2" id="loader2"></div>
</div>
  </div>
  
  <footer>
    <p>All rights reserved. @SALUS 2022</p>
  </footer>
</body>
</html>
