@import url('https://fonts.googleapis.com/css?family=Poppins');
html,
body {
  margin-top:0 ;
  padding: 0;
  font-size: 18px;
  background-color: #5fbae9;
  
  font-family: "Poppins", sans-serif;

}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4em;
}
.header {
  background:#5fbae9;
  padding: 1em 0;
}
.header .container a {
  color: black;
  text-decoration: none;
}
.header .container .logo {
  font-weight: bold;
}
.header .container nav {
  float: right;
}
.header .container ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
.header .container li a {
  padding: 1em;
}
a:hover {
  background:  white;
  border-radius: 0em 0em 0.5em 0.5em;
  
}
.h1 {
  margin-top: 2em;
}



