@import url('https://fonts.googleapis.com/css?family=Poppins');
html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;

}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  background:#8BAAAD;
  padding: 1em 0;
}
.header .container a {
  color: black;
  text-decoration: none;
}
.header .container .logo {
  font-weight: bold;
}
.header .container nav {
  float: right;
}
.header .container ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
.header .container li a {
  padding: 1em;
}
a:hover {
  background:  #87e4ec;
  
}
.h1 {
  margin-top: 2 em;
}

