<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <section class="home">
                <h1>Premium Security Service</h1>
                <a routerLink="/contact" class="btn btn-lg btn-primary">Learn more</a>
                <br>
                <img src="https://images.pexels.com/photos/7233130/pexels-photo-7233130.jpeg?cs=srgb&dl=pexels-artem-podrez-7233130.jpg&fm=jpg" alt="">
            
                <div class="info">
                    <h1>What the Salus team goal is</h1>
                    <ul>
                        <li>Make students and staff safer by verifying their identities’ before they enter school grounds.</li>
                        <li>Restrict unauthorised access to the school.</li>
                        <li>Verify and monitor visitors and temporary employees of the school.</li>
                        <li>Make sure that people accessing the school other than the students and teachers are actually related to the staff or students.</li>
                        <li>Checking class attendance register.</li>
        
                    </ul>
                    
                </div>
            </section>
    
        </div>

    </div>
    
    
    
</body>
</html>

