<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1>Your Family in Saftey</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam minima, rem iste aspernatur mollitia optio reprehenderit, cupiditate illo quasi ut architecto ipsa veritatis omnis blanditiis. Accusamus amet quas aliquam.</p>
    </div>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <section class="home">
                <div class="image">
                    <h1>Premium Security Service</h1>
                    <br>
                    <img src="/assets/images/saluswithname.jpg">
                </div>
                <div id="formFooter">
                    <a routerLink="/contact" >Contact Us</a>
                </div>
               
            
                <div class="info">
                    <h1>What the Salus team goal is</h1>
                    <ul>
                        <li>Make students and staff safer by verifying their identities’ before they enter school grounds.</li>
                        <li>Restrict unauthorised access to the school.</li>
                        <li>Verify and monitor visitors and temporary employees of the school.</li>
                        <li>Make sure that people accessing the school other than the students and teachers are actually related to the staff or students.</li>
                        <li>Checking class attendance register.</li>
        
                    </ul>
                    
                </div>
            </section>
    
        </div>

    </div>
    
    
    
</body>
</html>

